.rezume-forms {
  margin-left: 20px;
  &-item {
    padding-bottom: 15px;
    position: relative;
    span {
      position: absolute;
      font-size: 0.65em;
      line-height: 1;
      text-transform: uppercase;
      text-shadow: 0 0 1px rgba(#000, 0.25);
      right: 10px;
      top: 50%;
      background-color: #fff;
      transform: translateY(-50%);
      margin-top: -7.5px;
      padding: 3px;
      opacity: 0;
      transition: opacity 0.25s linear;
      cursor: default;
      &:hover {
        opacity: 1;
      }
    }
    .form-control {
      @include box-shadow(3px, 0.25);
      background-color: #fff;
      border: none;
      padding: 12px;
      height: auto;
      font-size: 0.8em;
      &:hover {
        & + span {
          opacity: 1;
        }
      }
      &:active,
      &:focus {
        outline: none;
        & + span {
          display: none;
        }
      }
    }
  }

  // .add-button{}
}
