.navbar {
  background-color: #000000;
  margin-bottom: 50px;
  @include box-shadow(3px, 0.25);
  &-brand {
    font-weight: 300;
    cursor: default;
  }
  .nav-link {
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
  }
}

.navbar .btn {
  background: #B29155;
  color: #000;
  font-weight: 500;
}
.navbar .btn:focus {
  box-shadow: none;
}
