.rezume-rezume {
  @include box-shadow(5px);
  background-color: #fff;
  padding: 75px 100px;
  min-height: 80vh;
  margin-right: 20px;
  position: relative;
  &-contact {
    position: absolute;
    right: 100px;
    top: 75px;
    text-align: right;
    p {
      margin: 0;
      font-size: 0.85em;
    }
  }
  h2 {
    font-weight: 300;
    text-transform: uppercase;
    span {
      font-weight: 600;
    }
  }
  strong.position {
    font-weight: 550;
    color: #000;
    margin-right: 10px;
    font-size: 150%;
  }
  p {
    line-height: 1.75;
    &.location {
      color: #999;
      margin-bottom: 32px;
    }
    &.summary {
      color: #666;
      text-align: justify;
    }
  }
}
