.rezume-rezume {
  @include box-shadow(5px);
  background-color: #fff;
  padding: 75px 100px;
  min-height: 80vh;
  margin-right: 20px;
  position: relative;
  &-contact {
    position: absolute;
    right: 100px;
    top: 75px;
    text-align: right;
    p {
      margin: 0;
      font-size: 0.85em;
    }
  }
  h2 {
    font-weight: 300;
    text-transform: uppercase;
    span {
      font-weight: 600;
    }
  }
  p {
    line-height: 1.75;
    &.location {
      color: #999;
      margin-bottom: 32px;
    }
    &.summary {
      color: #666;
      text-align: justify;
      strong.position {
        font-weight: 600;
        color: #000;
        margin-right: 10px;
      }
    }
    &.summary-margin {
      margin-top: 6rem;
    }
  }
  .profile-image {
    position: relative;
    top: -40px;
    left: -30px;
    border-radius: 50%;
    margin: 0 10px 10px 0;
    height: 10rem;
    width: 10rem;
  }
}
