.rezume-rezume {
  @include box-shadow(5px);
  background-color: #fff;
  padding: 75px 100px;
  h2 {
    font-weight: 300;
    text-transform: uppercase;
    span {
      font-weight: 600;
    }
  }
  p {
    line-height: 1.75;
    &.location {
      color: #999;
      margin-bottom: 32px;
    }
    &.summary {
      color: #666;
      strong.position {
        font-weight: 600;
        color: #000;
        margin-right: 10px;
      }
    }
  }
}
